<!doctype html>
<html ng-app="myApp">
  <head>
    <title>Insa Angular.js TP</title>
    <link rel="stylesheet" type="text/css" href="bootstrap.css">
  </head>
  <body>
    <nav class="navbar navbar-default navbar-static-top navbar-inverse" role="navigation">
      <div class="container">
        <h3 style="color: #fff; text-align: center; margin-top: 13px;">Questions Insa Lyon</h3>
      </div>
    </nav>

    <ul class="nav nav-pills" style="max-width: 210px; margin: 20px auto;">
      <li role="presentation" class="active" ng-click="showPills('questions')"><a href="#">Questions</a></li>
      <li role="presentation" ng-click="showPills('classement')"><a href="#">Classement</a></li>
    </ul>

    <div ng-show="pills == 'questions'">
      <div ng-controller="quizzController">
        <div style="text-align: center; margin: 0 0 10px 0">
          <form class="form-inline" ng-show="!user">
            <div class="form-group" style="max-width: 340px; margin: auto">
              Login:
              <input class="form-control" type="text" placeholder="Login" ng-model="login">
              <button class="btn btn-primary" type="submit" ng-disabled="!login" ng-click="register(login)">Enregister</button>
            </div>
          </form>
          <h3 ng-show="user">
            Votre login : {{ user.login }}
          </h3>
        </div>

        <div ng-show="user">
          <form ng-repeat="question in questions" style="max-width: 380px; margin: 30px auto;">
          	<div class="form-group" style="text-align: center">
              Question #{{question.id}}: {{question.q}}
              <input class="form-control" type="text" placeholder="Réponse" ng-model="question.$answer">
              <button class="btn" ng-class="{'btn-success': question.$success, 'btn-error': question.$error}" style="margin: 10px auto;" ng-disabled="!login || !question.$answer" ng-click="answer(login, question)">Enregistrer</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div ng-show="pills == 'classement'">

      <div ng-controller="ranksController">
        <table class="table">
          <thead>
            <tr>
              <th>Login</th>
              <th>Question</th>
              <th>Score</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="user in users">
              <td>{{user.login}}</td>
              <td>{{user.step}}</td>
              <td>{{user.score}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>

   <script type="text/javascript" src="angular.js"></script>
   <script type="text/javascript">
    angular.module('myApp', [])
      .run(['$rootScope', function ($rootScope) {
        $rootScope.showPills = function (id) {
          $rootScope.pills = id;
        };

        $rootScope.showPills('questions');
      }])

      .controller('quizzController', ['$scope', '$http', function ($scope, $http) {
        $scope.register = function (login) {
          $http.post('/register', {login:login})
            .success(function (data) {
              console.log(data);
              $scope.user = data;
            });
        };

        $http.get('/questions')
          .success(function (data) {
            $scope.questions = data;
          });

        $scope.answer = function (login, question) {
          var answer = {
            answer: question.$answer,
            login: login
          };

          $http.post('/q' + question.id, answer)
            .success(function () {
              question.$success = true;
              question.$error = false;
            })
            .error(function () {
              question.$success = false;
              question.$error = true;
            });
        };
      }])

      .controller('ranksController', ['$scope', '$http', function ($scope, $http) {
        $http.get('/users')
          .success(function (data) {
            console.log(arguments);
            $scope.users = data;
          });
      }]);
   </script>
</html>